/* center all elements and add background image */
body {
    text-align: center;
    background: url(../images/paintbg.jpg) center center fixed no-repeat;
    background-size: cover;
}

/* title */
#header {
  // background: linear-gradient(white, rgba(67, 169, 228, 0.9));
    letter-spacing: 0.11em;
    font-weight: 900;
    height: 80px;
    width: 500px;
    margin: 10px auto;
    font-size: 3.8em;
    color: #fff;
    text-shadow: 1px 2px 9px #31317b;
    line-height: 80px;
    font-family: helvetica, sans-serif;
}

/* input contqiner */
.inputContainer {
    width: 470px;
    margin: 0 auto;
}

/* color input, line thickness, slider */
.input {
    height: 30px;
    font-size: 1.1em;
}

#colorInput {
    margin: 3px auto;
}

#slider {
    margin: 3px auto;
}

#circle {
    height: 3px;
    width: 3px;
    margin: 0 auto;
    border-radius: 50%;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#thicknessInput {
    position: relative;
}

#container {
    /* width: 933px; // 500px / */
    width: 800px;
    /* height: 600px; // 400px / */
    height: 600px;
    margin: 0 auto 10px auto;
    border: 1px solid rgba(122, 174, 229, 0.5);
}

#paint {
    // width: 800px;
    // height: 600px;
    background: #fff;
    cursor: crosshair;
}

/* container with buttons */
.inputContainer2 {
    width: 399px;
    margin: 0 auto; 
}

/* erase, save and reset buttons */
.input2 {
    width: 133px;
    color: #5bb4e7;
    font-size: 1.3em;
    float: left;
    
}

.button {
    background: #fff;
    height: 50px;
    padding: 5px 35px;
    border-radius: 5px;
    border: 1px solid rgba(122, 174, 229, 0.5);
    cursor: pointer;
    position: relative;
    border-bottom: 3px solid rgba(122, 174, 229, 0.5);
    //box-shadow: 0px 4px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}

.button:hover {
    background: rgba(122, 174, 229, 0.5);
    color: white;
}

.button:active {
    top: 3px;
    border-top: 3px solid rgba(122, 174, 229, 0.5);
    border-bottom: 0;
}

.eraseMode {
  background-color: red;
  color: white;
} 